<%- include("../partials/layout-start", { title: title }) %>

    <div class="row" class="mt-1">
        <div class="col-lg-6 col-sm-12">
            <p>Уже зарегестрирован? <a href="/login">Вход</a></p>

            <form action="/registration" method="post" enctype="multipart/form-data" class="mt-3">
                <div class="form-group">
                    <label for="inputTitle">Логин:</label>
                    <input type="text"
                        name="username"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputTitle">Имя:</label>
                    <input type="text"
                        name="displayName"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputTitle">Пароль:</label>
                    <input type="password"
                        name="password"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputTitle">Email:</label>
                    <input type="text"
                        name="email"
                        class="form-control">
                </div>
                <div class="form-group text-right ">
                    <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
                </div>
            </form>
        </div>
    </div>

<%- include("../partials/layout-end") %>