<%- include("../partials/layout-start", { title: title }) %>

    <div class="row" class="mt-1">
        <div class="col-lg-6 col-sm-12">
            <p>Еще незарегестрирован? <a href="/registration">Регистрация</a></p>

            <form action="/login" method="post" enctype="multipart/form-data" class="mt-3">
                <div class="form-group">
                    <label for="inputTitle">Логин:</label>
                    <input type="text"
                        name="username"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputTitle">Пароль:</label>
                    <input type="password"
                        name="password"
                        class="form-control">
                </div>
                
                <div class="form-group text-right ">
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
            </form>
    </div>
</div>

<%- include("../partials/layout-end") %>